extends ../base


block title
  | FOJI | Institución Sostenedora

block body
  .wrapper(aria-page="registration_intitution") 
    include ../navbar
    .float-content.catastro-title.mt-5
      h4 Formulario
      h1 Catastro foji
      .title-separator
      p Este formulario permite a las orquestas y ensambles ser parte de la base de datos de la Fundaci&oacute;n, para poder informarse de las diversas actividades que realizamos y para acceder a todos los beneficios que esta entrega.
    .container 
      .alert.alert-primary.mt-3.mb-3.text-center(role="alert") Indica a continuación la Institución a la que esta asociada la orquesta y su representante legal.
    .full-box.box-form.container
      form#institution-form(method='POST')
        | {% csrf_token %}
        .box-title
          h4 Registro Instituci&oacute;n Sostenedora
        .box-content.container
          .row
            .col-md-6.pt-3.pb-3.p-sm-5
              .form-group
                label(for="institution-name") Nombre de la Institución:
                input#institution-name.form-control(
                  name="institution-name"
                  value='{{ institution_form.name.value }}'
                  type="text"
                  placeholder="Nombre de la institución"
                  required
                )
                .invalidFeedback
                    | {{ institution_form.name.errors.0 }}
              .form-group
                label(for="institution-social_id") RUT o ROL:
                input#institution-social_id.form-control(
                  name="institution-social_id"
                  value='{{ institution_form.social_id.value }}'
                  type="text"
                  placeholder="Escribe el RUT"
                  required
                )
                #institutionRutFeedback.invalidFeedback
                    | {{ institution_form.social_id.errors.0 }}
              .form-group
                label(for="institution-phone_number_home") Teléfono fijo:
                input#institution-phone_number_home.form-control(
                  name="institution-phone_number_home"
                  value='{{ institution_form.phone_number_home.value }}'
                  type="text"
                  placeholder="Ej: 2212 9356"
                  required
                )
                .invalidFeedback
                    | {{ institution_form.phone_number_home.errors.0 }}
              .form-group
                label(for="institution-address") Dirección:
                input#institution-address.form-control(
                  name="institution-address"
                  value='{{ institution_form.address.value }}'
                  type="text"
                  placeholder="Ej: Cerro Altar 5698, Las Condes"
                  required
                )
                .invalidFeedback
                    | {{ institution_form.address.errors.0 }}
              .form-group
                label(for="institution-email") Email de contacto:
                input#institution-email.form-control(
                  name="institution-email"
                  value='{{ institution_form.email.value }}'
                  type="text"
                  placeholder="Escribe el email"
                  required
                )
                .invalidFeedback
                    | {{ institution_form.email.errors.0 }}
            .col-md-6.pt-3.pb-3.p-sm-5.border-left.shadow-left
              .form-group
                h4.mt-4 Representante Legal
              .form-group
                label(for="legal-first_name") Nombre:
                input#legal-first_name.form-control(
                  name="first_name"
                  value='{{ legal_representation_form.first_name.value }}'
                  type="text"
                  placeholder="Nombre del representante legal"
                  required
                )
                .invalidFeedback
                    | {{ legal_representation_form.first_name.errors.0 }}
              .form-group
                label(for="legal-last_name") Apellido:
                input#legal-last_name.form-control(
                  name="last_name"
                  value='{{ legal_representation_form.last_name.value }}'
                  type="text"
                  placeholder="Apellido del representante legal"
                  required
                )
                .invalidFeedback
                    | {{ legal_representation_form.last_name.errors.0 }}
              .form-group
                label(for="legal-email") Email:
                input#legal-email.form-control(
                  name="email"
                  value='{{ legal_representation_form.email.value }}'
                  type="text"
                  placeholder="Email del representante legal"
                  required
                )
                .invalidFeedback
                    | {{ legal_representation_form.email.errors.0 }}
              .form-group
                label(for="legal-phone") Teléfono:
                input#legal-phone.form-control(
                  name="phone_number_mobile"
                  value='{{ legal_representation_form.phone_number_mobile.value }}'
                  type="text"
                  placeholder="Teléfono del representante legal"
                  required
                )
                .invalidFeedback
                    | {{ legal_representation_form.phone_number_mobile.errors.0 }}
        .bottom-box
          .row
            .col-xs-6
              a.btn.btn-light(href="/dashboard/") Cancelar
            .col-xs-6.text-right
              button.btn.btn-primary(type='submit') Siguiente
