extends ../base
block title
  | FOJI | Cambio de Contraseña

block body
  .wrapper(aria-page="login")
    include ../navbar
    .float-content
      .vertical-login.mt-5.mx-auto
        span.font-weight-bold Cambio de contraseña:
        form.text-center.justify-content-center(method='POST')
          | {% csrf_token %}
          .form-group
            label(for="current_password") Contraseña actual:
            input#current_password.form-control(
              name="password"
              value=''
              type="password"
              placeholder="Escribe tu contraseña actual"
              required
            )
            .invalidFeedback
              | {{ form.password.errors.0 }}
          .form-group
            label(for="new_password") Nueva contraseña:
            input#new_password.form-control(
              name="new_password"
              value=''
              type="password"
              placeholder="Escribe tu nueva contraseña"
              required
            )
            .invalidFeedback
              | {{ form.new_password_repeat.errors.0 }}
          .form-group
            label(for="new_password_repeat") Repetir contraseña:
            input#new_password_repeat.form-control(
              name="new_password_repeat"
              value=''
              type="password"
              placeholder="Repite tu nueva contraseña"
              required
            )
            .invalidFeedback
              | {{ form.new_password_repeat.errors.0 }}
          .form-group
            button.btn.btn-primary(type='submit') Enviar


